<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/simple-sidebar.css') }}">
        <style>
            li { cursor: pointer; cursor: hand; }
        </style>
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/axios.min.js') }}"></script>
    <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ asset('js/highcharts/highmaps.js') }}"></script>
    <script src="{{ asset('js/highcharts/exporting.js') }}"></script>
    <script src="{{ asset('js/highcharts/ro-all.js') }}"></script>
    <script src="{{ asset('js/charts/chart.js') }}"></script>
{% endblock %}
</body>
</html>
